In [47]:
!pip install xgboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xgboost in /usr/local/lib/python3.7/dist-packages (0.90)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.21.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.7.3)

In [48]:
!pip install lightgbm

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lightgbm in /usr/local/lib/python3.7/dist-packages (2.2.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.7.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.0.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.21.6)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightgbm) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightgbm) (1.2.0)

In [49]:
#First XGBM model for Pima Indian Dataset
import pandas as pd
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [50]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [51]:
#load data
df=loadtxt('/content/pima-indians-diabetes.data.csv',delimiter=",")
#split data
X=df[:,0:8]
Y=df[:,8]

In [52]:
#fit data into train and test set
Seed=7
test_size=0.33
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=test_size,random_state=Seed)

In [53]:
#Fit Model to training data
model=XGBClassifier()
model.fit(x_train,y_train)

XGBClassifier()

In [54]:
#make prediction for test data
y_pred=model.predict(x_test)
prediction=[round(value) for value in y_pred]

In [55]:
#Evaluate Prediction
accuracy=accuracy_score(y_test,prediction)
accuracy

0.7795275590551181

In [56]:
accuracy*100

77.95275590551181

#Light GBM

In [57]:
import pandas as pd
from numpy import loadtxt
import matplotlib.pyplot as plt
import lightgbm as lgb

In [58]:
#importing the dataset
light_df=pd.read_csv('/content/pima-indians-diabetes.data.csv')
#Spliting data
X=light_df.iloc[:,0:8]
Y=light_df.iloc[:,8]

In [59]:
light_df

      6  148  72  35    0  33.6  0.627  50  1
0     1   85  66  29    0  26.6  0.351  31  0
1     8  183  64   0    0  23.3  0.672  32  1
2     1   89  66  23   94  28.1  0.167  21  0
3     0  137  40  35  168  43.1  2.288  33  1
4     5  116  74   0    0  25.6  0.201  30  0
..   ..  ...  ..  ..  ...   ...    ...  .. ..
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

[767 rows x 9 columns]

In [60]:
#spliting Dataset into trainig and Testing
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.25,random_state=0)

In [61]:
import lightgbm as lgb
d_train=lgb.Dataset(x_train,label=y_train)

In [62]:
params={}
params['learning_rate']=0.003
params['boosting_type']='gbdt'
params['objedtive']='binary'
params['metrics']='binary_logloss'
params['sub_features']=0.5
params['num_leaves']=10
params['min_data']=50
params['max_depth']=10

In [63]:
clf=lgb.train(params,d_train,150)

In [65]:
#Prediction
y_pred=clf.predict(x_test)

In [66]:
prediction=[round(value) for value in y_pred]

In [69]:
accuracy=accuracy_score(y_test,prediction)

In [70]:
accuracy

0.7447916666666666

#74% Accuracy